html {
    font-size: 10px;
}

.carousel-inner
{
    min-height: 45rem;
}

.align-horizontal
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.boldFont
{
    font-weight: 800;
}

.sectionHeading
{
    font-size: 2rem;
}

.blackFont, .carousel-indicators button
{
    color: black;
}

.section-content{
    font-size: 1.6rem;
}